.App {
  text-align: center;
  position: relative;
  min-height: 100vh;
}

@font-face {
  font-family: "Starjedi";
  src: url("./fonts/Starjedi.ttf") format("truetype");

}
.Starfont {
  font-family: "Starjedi";
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.card {
  width: 18rem;
}